IMAGE_TAG=${IMAGE_TAG}
COMPOSE_PROJECT_NAME=${COMPOSE_PROJECT_NAME}
DOCKERHUB_USERNAME=${DOCKERHUB_USERNAME}
DOCKERHUB_PASSWORD=${DOCKERHUB_PASSWORD}

APP_NAME=devops
BACKUP_NAME=
APP_ENV=production
APP_KEY=${APP_KEY}
APP_DEBUG=false
APP_URL=http://localhost

CACHE_STORE=redis
SESSION_DRIVER=redis

FILESYSTEM_DISK=uploads

LOG_CHANNEL=stack
LOG_LEVEL=error

DB_CONNECTION=pgsql
DB_HOST=postgres
DB_PORT=5432
DB_DATABASE=devops
DB_USERNAME=${DB_USERNAME}
DB_PASSWORD=${DB_PASSWORD}

QUEUE_CONNECTION=redis
REDIS_HOST=redis
REDIS_PORT=6379

MAIL_MAILER=log

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=
AWS_BUCKET=
AWS_ENDPOINT=
AWS_URL=
AWS_USE_PATH_STYLE_ENDPOINT=false

MINIO_DEFAULT_REGION=CRA1
MINIO_URL=http://minio:9000
MINIO_URL_ENDPOINT=http://minio:9000
MINIO_USE_PATH_STYLE_ENDPOINT=true
MINIO_ACCESS_KEY_ID=
MINIO_SECRET_ACCESS_KEY=
